.navegador {
   display: flex;
   flex-direction: row;
   gap: 40px;
   text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ffffff; 
  z-index: 1000; 
  padding: 10px; 
  list-style: none;
  }

  .navwrapper {
   display: flex;
   flex-direction: row;
   gap: 40px;
   text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ffffff; 
  z-index: 1000; 
  padding: 10px; 
  list-style: none;
  }
  